<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggg.share_remote">

    <application>
        <activity
            android:name=".imperativeui.ShareRemoteActivity">
        </activity>
        <activity
            android:name=".declarativeui.ComposeShareRemoteActivity">
        </activity>
    </application>

</manifest>