<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggg.plugins_test">

    <application>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.MediaFactory.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.ggg.plugins.test"/>
            </intent-filter>
        </activity>
    </application>

</manifest>