<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggg.handler">

    <application>
        <activity
            android:name="com.ggg.handler.image.activity.ImageActivity"
            android:exported="false"
            android:label="@string/title_activity_image_color"
            android:theme="@style/Theme.MediaFactory.NoActionBar" />
        <activity
            android:name="com.ggg.handler.video.activity.VideoActivity"
            android:exported="false"
            android:label="@string/title_activity_image_color"
            android:theme="@style/Theme.MediaFactory.NoActionBar" />
    </application>
</manifest>